<footer class="l-footer">
  <footer class="p-footerMenu">
    <div class="p-footerMenu_title">ポール・スミスについて</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">会社情報</a>
      </li>
      <li class="p-footer_item">
        <a href="#">採用(英国サイト)</a>
      </li>
      <li class="p-footer_item">
        <a href="#">サステナビリティ</a>
      </li>
    </ul>

    <div class="p-footerMenu_title">JOI'X PAUL SMITH MEMBERSについて</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">会員契約</a>
      </li>
      <li class="p-footer_item">
        <a href="#">ポイントサービスについて</a>
      </li>
    </ul>

    <div class="p-footerMenu_title">カスタマーサービス</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">Paul Smith ONLINE SHOPとは</a>
      </li>
      <li class="p-footer_item">
        <a href="#">ご注文からお届けまでの流れ</a>
      </li>
      <li class="p-footer_item">
        <a href="#">配送について</a>
      </li>
      <li class="p-footer_item">
        <a href="#">お支払い方法</a>
      </li>
      <li class="p-footer_item">
        <a href="#">返品交換について</a>
      </li>
      <li class="p-footer_item">
        <a href="#">ゲスト購入について</a>
      </li>
      <li class="p-footer_item">
        <a href="#">クーポン利用規約について</a>
      </li>
      <li class="p-footer_item">
        <a href="#">店舗受け取りについて</a>
      </li>
      <li class="p-footer_item">
        <a href="#">ギフトラッピングについて</a>
      </li>
      <li class="p-footer_item">
        <a href="#">サイズの見方</a>
      </li>
      <li class="p-footer_item">
        <a href="#">SHIPPING INFORMATION</a>
      </li>
      <li class="p-footer_item">
        <a href="#">利用規約</a>
      </li>
      <li class="p-footer_item">
        <a href="#">特定商取引法に基づく表示</a>
      </li>
      <li class="p-footer_item">
        <a href="#">PRODUCT GUIDES</a>
      </li>
    </ul>

    <div class="p-footerMenu_title">お問い合わせ</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">FAQ</a>
      </li>
      <li class="p-footer_item">
        <p class="c-text__">
          運営会社:株式会社XXXXXXX<br>
          営業日：月～金曜日 9:30～17:30 <br>
          定休日:土曜・日曜・祝日 <br>
          【Eメール】
          XXXXXXXXX@XXXXXXXX.co.jp
        </p>
      </li>
    </ul>

    <div class="p-footerMenu_title">ソーシャル</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">X</a>
      </li>
      <li class="p-footer_item">
        <a href="#">Facebook</a>
      </li>
      <li class="p-footer_item">
        <a href="#">Instagram</a>
      </li>
      <li class="p-footer_item">
        <a href="#">YouTube</a>
      </li>
      <li class="p-footer_item">
        <a href="#">LINE</a>
      </li>
    </ul>

    <div class="p-footerMenu_title">All right reserved</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">利用規約</a>
      </li>
      <li class="p-footer_item">
        <a href="#">Privacy Policy</a>
      </li>
      <li class="p-footer_item">
        <a href="#">Modern Slavery Statement</a>
      </li>
    </ul>
  </footer>
</footer>


</div><!-- l-wrap -->
</body>
</html>
