<footer class="l-footer">
  <footer class="p-footerMenu">
    <div class="p-footerMenu_title">ポール・スミスについて</div>
    <ul class="p-footerMenu_list">
      <li class="p-footer_item">
        <a href="#">会社情報</a>
      </li>
      <li class="p-footer_item">
        <a href="#">採用(英国サイト)</a>
      </li>
      <li class="p-footer_item">
        <a href="#">サステナビリティ</a>
      </li>
    </ul>
  </footer>
</footer>


</div><!-- l-wrap -->
</body>
</html>
