<main>
  <main class="l-main">
    <div class="p-mainSection">
      <div class="p-mainSection__img">
        <img src="assets/images/AdobeStock_721269505.jpg" alt="背景">
        <a class="p-mainSection__mensTitle c-text__20px" href="#">Shop Mens</a>
        <a class="p-mainSection__womensTitle c-text__20px" href="#">Shop Womens</a>
        </div>
    </div>

        <div class="l-scroll">
          <ul class="p-scrollList">
            <li class="p-scrollList__item">
              <a href="#">
                <img src="" alt="">
                <h2 class="c-text__26px">Sale Up To 70% Off</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mshoes.jpg" alt="">
                <h2 class="c-text__26px">シューズ&スニーカー</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mshirt.jpg" alt="">
                <h2 class="c-text__26px">カジュアルシャツ</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/msweatshirt.jpg" alt="">
                <h2 class="c-text__26px">スウェット&パーカー</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mt-shirt.jpg" alt="">
                <h2 class="c-text__26px">Tシャツ</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mshoes.jpg" alt="">
                <h2 class="c-text__26px">シューズ</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mjewelry.jpg" alt="">
                <h2 class="c-text__26px">ジュエリー</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
            <li class="p-scrollList__item">
              <a href="#">
                <img src="assets/images/mouter.jpg" alt="">
                <h2 class="c-text__26px">コート&アウター</h2>
              </a>
              <a href="">商品を見る</a>
            </li>
          </ul>
        </div>



        </main>
