<main>
  <main class="l-main">
    <div class="p-mainSection">
      <div class="p-mainSection__img">
        <img src="assets/images/AdobeStock_721269505.jpg" alt="背景">
        <a class="p-mainSection__mensTitle c-text__20px" href="#">Shop Mens</a>
        <a class="p-mainSection__womensTitle c-text__20px" href="#">Shop Womens</a>
        </div>
    </div>

    <div class="c-btn">
      <button class="c-btn__men" id="m_btn">メンズ</button>
      <button class="c-btn__women" id="w_btn">ウィメンズ</button>
    </div>

  <div class="l-scroll">
    <div class="l-scroll__men">
      <ul class="p-scrollList">
        <li class="p-scrollList__item">
          <a href="#">
            <img src="" alt="">
            <h2 class="c-text__27px"></h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshoes.jpg" alt="">
            <h2 class="c-text__27px">シューズ&スニーカー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshirt.jpg" alt="">
            <h2 class="c-text__27px">カジュアルシャツ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/msweatshirt.jpg" alt="">
            <h2 class="c-text__27px">スウェット&パーカー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mt-shirt.jpg" alt="">
            <h2 class="c-text__27px">Tシャツ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshoes.jpg" alt="">
            <h2 class="c-text__27px">シューズ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mjewelry.jpg" alt="">
            <h2 class="c-text__27px">ジュエリー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mouter.jpg" alt="">
            <h2 class="c-text__27px">コート&アウター</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
      </ul>
    </div>


    <div class="l-scroll__women">
      <ul class="p-scrollList">
        <li class="p-scrollList__item">
          <a href="#">
            <img src="" alt="">
            <h2 class="c-text__27px">Sale Up To 70% Off</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshoes.jpg" alt="">
            <h2 class="c-text__27px">シューズ&スニーカー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshirt.jpg" alt="">
            <h2 class="c-text__27px">カジュアルシャツ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/msweatshirt.jpg" alt="">
            <h2 class="c-text__27px">スウェット&パーカー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mt-shirt.jpg" alt="">
            <h2 class="c-text__27px">Tシャツ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mshoes.jpg" alt="">
            <h2 class="c-text__27px">シューズ</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mjewelry.jpg" alt="">
            <h2 class="c-text__27px">ジュエリー</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
        <li class="p-scrollList__item">
          <a href="#">
            <img src="assets/images/mouter.jpg" alt="">
            <h2 class="c-text__27px">コート&アウター</h2>
          </a>
          <a href="#" class="c-text__16px">商品を見る</a>
        </li>
      </ul>
    </div>
  </div>



    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const menBtn = document.getElementById("m_btn");
        const womenBtn = document.getElementById("w_btn");
        const menList = document.querySelector(".l-scroll__men");
        const womenList = document.querySelector(".l-scroll__women");

        // 初期状態
        menBtn.classList.add("active");
        menList.classList.add("active");

        // Slick初期化（両リスト）
        $('.l-scroll__men .p-scrollList, .l-scroll__women .p-scrollList').slick({
          slidesToShow: 3,
          slidesToScroll: 1,
          centerMode: true,
          centerPadding: '150px',
          arrows: false,
          dots: false,
          autoplay: false,
          responsive: [
            { breakpoint: 990, settings: { centerPadding: false, } }
          ]
        });

        // メンズボタンクリック
        menBtn.addEventListener("click", function () {
          menList.classList.add("active");
          womenList.classList.remove("active");
          menBtn.classList.add("active");
          womenBtn.classList.remove("active");

          $('.l-scroll__men .p-scrollList').slick('setPosition');
        });

        // ウィメンズボタンクリック
        womenBtn.addEventListener("click", function () {
          womenList.classList.add("active");
          menList.classList.remove("active");
          womenBtn.classList.add("active");
          menBtn.classList.remove("active");

          $('.l-scroll__women .p-scrollList').slick('setPosition');
        });
      });
    </script>


    <div class="l-about">
      <ul class="p-aboutList">
        <li class="p-aboutList__item">
          <img class="c-img__about" src="assets/images/about1.jpg" alt="写真">
          <div class="c-text__26px">Exclusive Items</div>
          <p class="c-text__13px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          <a href="#" class="p-aboutList__link">
            <div class="c-text__15px">詳しく見る</div>
            <span class="c-arrow">↗︎</span>
          </a>
        </li>
        <li class="p-aboutList__item">
          <img class="c-img__about" src="assets/images/about2.jpg" alt="写真">
          <div class="c-text__26px">Exclusive Items</div>
          <p class="c-text__13px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          <a href="#" class="p-aboutList__link">
            <div class="c-text__15px">詳しく見る</div>
            <span class="c-arrow">↗︎</span>
          </a>
        </li>
        <li class="p-aboutList__item">
          <img class="c-img__about" src="assets/images/about3.jpg" alt="写真">
          <div class="c-text__26px">Exclusive Items</div>
          <p class="c-text__13px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
          <a href="#" class="p-aboutList__link">
            <div class="c-text__15px">詳しく見る</div>
            <span class="c-arrow">↗︎</span>
          </a>
        </li>
      </ul>
    </div>


    <div class="l-animationBar">
      <ul class="p-animationList">
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">ショップ<br>ニュース</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">Mede to<br>Measure</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">モノグラミング<br>サービス</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">商品不良の<br>お詫びと回収</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">店舗<br>受け取り</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
          <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">オンライン接客<br>サービス</p>
        </li>


        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">ショップ<br>ニュース</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">Mede to<br>Measure</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">モノグラミング<br>サービス</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">商品不良の<br>お詫びと回収</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation1.jpg" alt="">
          </a>
          <p class="c-text__28px">店舗<br>受け取り</p>
        </li>
        <li class="p-animationList__item">
          <a href="">
            <img class="c-img__animation" src="assets/images/animation2.jpg" alt="">
          </a>
          <p class="c-text__28px">オンライン接客<br>サービス</p>
        </li>

      </ul>

    </div>



        </main>
