$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.c-img {
  position: relative;

  &__about {
    width: 450px;
    height: 550px;
    object-fit: cover;
    }

  &__animation {
    width: 100px;
  }
}
