.c-text__50px {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

.c-text__20px {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.c-text__26px {
  font-size: 3.5vw;
  font-weight: bolder;
}
