$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.l-header {
  background-color: #fff;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px 20px 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  @include sp {
    // padding: 20px 20px 20px;
  }
}

.l-header.hidden {
  transform: translateY(-100%);
}
