$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-hamburgers {
  display: none;

  @include sp {
    display: grid;
    place-items: center;
    width: 44px;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  --opacity: 1;
  --rotate: 0;
  --translate: .5rem;

  &:hover {
    background-color: #fff;
  }

  &.is-active {
    --opacity: 0;
    --rotate: 135deg;
    --translate: 0;
  }

  span {
    display: block;
    width: 70%;
    height: 2px;
    background-color: #000;
    grid-area: 1 / 1 / -1 / -1;
    transition: opacity .4s ease, rotate .4s ease, translate .4s ease;

    &:nth-child(1) {
      opacity: var(--opacity);
    }

    &:nth-child(2) {
      translate: 0 calc(var(--translate) * -1);
      rotate: var(--rotate);
    }

    &:nth-child(3) {
      translate: 0 var(--translate);
      rotate: calc(var(--rotate) * -1);
    }
  }
}
