$sp: 990px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-contents {
  &__list {
    @include sp {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, opacity 0.4s ease;
    }

  &__list.p-footerMenu__list.is-open{
      @include sp {
        max-height: 1000px;
        opacity: 1;
      }
  }

  &__item {
    margin-bottom: 5px;
    font-size: 12px;

        @include sp {
            border-bottom: 1px solid rgb(255, 255, 255);
            padding: 8px 0;

            a {
                color: #fff;
                text-decoration: none;
                display: block;
                width: 100%;
              }
          }
  }
}
}
