$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-footerBottom {
  color: #fff;
  position: absolute;
  bottom: 15%;
  right: 10%;
  text-align: right;

  &__list {
    margin-bottom: 15px;
  }
}
