$sp: 990px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-footerBottom {
  color: #fff;
  position: absolute;
  bottom: 100px;
  right: 10%;
  text-align: right;

  @include sp {
      display: flex;
      bottom: 180px;
      right: unset;
      text-align: unset;
    }

  &__list {
    margin-bottom: 15px;

    @include sp {
        display: none;
      }
  }
}
