$sp: 990px;

@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-footerMenu {
  display: flex;
  flex-flow: column wrap;
  height: 400px;

  @include sp {
      display: block;
    }


  &__title {
    margin-bottom: 20px;
    font-weight: bolder;
    max-width: 170px;

  @include sp {
    position: relative;
    margin-bottom: 10px;
    max-width: none;
    font-weight: unset;

    &:after {
      content: "+";
      position: absolute;
      right: 0;
      font-size: 1.6rem;
      transition: transform 0.3s ease;
    }
  }
}

  &__list {
    margin: 50px 200px 0 0;

    &:nth-child(5) {
      display: none;
    }

    @include sp {
      margin: 15px 0;
      border-bottom: solid 1px #fff;
      &:nth-child(5) {
          display: block;
        }
    }
  }
}

.p-footerMenu__list.is-open .p-footerMenu__title:after {
  transform: rotate(45deg);
}
