$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-overlay {
  position: fixed;
  inset: 0;
  top: 85.5px;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;

    @include sp {
        top: 110px;
      }

&.is-active {
  display: block !important;
  visibility: visible;
  opacity: 1;
}

}
