$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-popupItem {
  margin-bottom: 10px;
    a {
      text-decoration: none;
      color: #000;
      transition: color 0.3s;
      font-size: 1.5rem;

      &:hover {
        font-style: italic;
      }
}
}
