$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-popup {
  position: relative;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  max-width: 98%;
  height: 80%;
  z-index: 1001;
}
