$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-popup {
  position: relative;
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  max-width: 98%;
  height: 80%;
  z-index: 1001;

  @include sp {
      max-width: 100%;
      border-radius: 0px;
      height: 100%;
    }

}
