.p-scroll {
  padding: 80px 0px 0;
  text-align: center;

  &__men {
    display: none;
    &.active {
      display: block;
    }
  }

  &__women {
    visibility: hidden;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.5s ease;
    &.active {
      visibility: visible;
        opacity: 1;
        height: auto;
    }
  }
}
