.p-scrollList {
    display: flex;
    pointer-events: auto;
    width: 100%;
    height: 100%;

  &__item{
    display: flex;
    flex-flow: column;
    margin: 16px;

    img {
      width: 100%;
    }
  }
}
