$sp: 990px;
@mixin sp {
  @media screen and (max-width: ($sp)) {
    @content;
  }
}

.p-termsList {
  font-size: 12px;
  color: #828282;

  @include sp {
      font-size: unset;
    }

    &__item {
      @include sp {
          margin-bottom: 10px;
        }
    }
}
